@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --paragraph: #ababab;
    --hover: hsl(178.35,100%,50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body {
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

section#card {
    background-color: var(--card-bg);
    padding: 25px;
    width: 20%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    

    figure.thumbnail {
        cursor: pointer;
        background-color: var(--hover);
        border-radius: 15px;
        background-image: linear-gradient(0deg, hsla(178.35,100%,50%, 0), hsla(178.35,100%,50%, 0)) , url(../images/image-equilibrium.jpg);
        width: 100%;
        height: 350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    figure.thumbnail img.view {
        opacity: 0;
        transition: 0.3s;
    }

    figure.thumbnail:hover {
        background-image: linear-gradient(0deg, hsla(178.35,100%,50%, 0.3), hsla(178.35,100%,50%, 0.3)) , url(../images/image-equilibrium.jpg);
        transition: 0.5s;
    }

    figure.thumbnail:hover img.view {
        opacity: 1;
        transition: 0.5s;
    }

    article {
        margin: 20px 0;

        h1 {
            color: var(--white);
            margin-bottom: 15px;
            transition: 0.3s;
            cursor: pointer;
        }

        h1:hover {
            color: var(--hover);
            transition: 0.5s;
        }

        p {
            color: var(--paragraph);
        }

        aside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;

            div {
                display: flex;
                align-items: center;
                gap: 5px;

                p {
                    font-size: 16px;
                }
            }

            div.value p {
                font-weight: 600;
                transition: 0.3s;
                cursor: pointer;
            }

            div.value p:hover {
                color: var(--hover);
                transition: 0.5s;
            }
        }
    }

    hr {
        border: 1px solid var(--line);
        margin: 0 2px;
        border-radius: 20px;
    }

    figure.creator {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        margin: 15px 0 10px 0;

        img {
            width: 40px;
            padding: 1px;
            background-color: var(--white);
            border-radius: 100%;
        }

        figcaption {
            color: var(--paragraph);
            font-size: 16px;
            font-weight: 300;

            a {
                text-decoration: none;
                color: var(--white);
                transition: 0.3s;
            }

            a:hover {
                color: var(--hover);
                transition: 0.5s;
            }
        }
    }
}

footer {
    background-color: var(--card-bg);
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    small {
        color: var(--paragraph);

        a {
            text-decoration: none;
            color: var(--white);
            transition: 0.3s;
        }

        a:hover {
            color: var(--hover);
            transition: 0.5s;
        }
    }
}

@media only screen and (max-width: 1600px) {
    section#card {
        width: 30%;
    }
}

@media only screen and (max-width: 1100px) {
    section#card {
        width: 35%;
    }
}

@media only screen and (max-width: 950px) {
    section#card {
        width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    section#card {
        width: 50%;
    }
}

@media only screen and (max-width: 650px) {
    section#card {
        width: 70%;
        margin-top: 200px;
    }
}

@media only screen and (max-width: 450px) {
    section#card {
        width: 90%;
    }
}